.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-exp {
  background: url(./assets/images/exp.jpg) no-repeat center;
  background-size: cover;
  width: 50%;
}

.nav-link {
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 16px;
  font-weight: 700;
  color: #ffffff !important;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #eaa636 !important;
  border: none !important;
}

.nav-tabs .nav-link  {
  border: none !important;
  border-radius: 5px !important;
}

.nav-link:hover{
  color: #eaa636 !important;
}

.nav-link.active:hover{
  color: #fff !important;
}


.nav-tabs{
  border-width: 0px !important;
}


/* service-header */

.service-header{
  background: url(./assets/images//banner/subheader1.jpg) no-repeat center;
  background-size: cover;
}

.service-info{
  transition: .7s;
}

.service-info:hover h5, .service-info:hover p,.service-info:hover span {
  color: #fff;
}
